.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container::before {
    content: "";
    position: fixed;
    
    left: 15%;
    bottom:20%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(0.6);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(300deg);
    opacity: 0.2;
  }

.container::after {
    content: "";
    position: fixed;
    
    right: 30%;
    top:20%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(1) scaleY(1);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(150deg);
    opacity: 0.3;
  }

.center{
   
}