.container{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.container::before {
    content: "";
    position: fixed;
    
    left: 0%;
    bottom:0%;
    z-index: -1;
  
    display: block;
    background-image: url('https://www.kindpng.com/picc/m/264-2647978_color-circle-background-circle-graphic-design-png-transparent.png');
    background-size:cover;
    transform: scale(1);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
    opacity: 0.5;
  }

.title{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.up{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left{
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.right{
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.image{
    height: 400px;
    position: fixed;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
}