.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container::before {
    content: "";
    position: fixed;
    
    left: 50%;
    top:20%;
    z-index: -1;
  
    display: block;
    background-image: url('https://www.kindpng.com/picc/m/264-2647978_color-circle-background-circle-graphic-design-png-transparent.png');
    background-size:cover;
    transform: scale(0.7)  translate(-50%, -50%);;
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(60px);
    opacity: 0.5;
  }



.background{
    // border: 4px solid #ffbf3588;
    border-radius: 10px;
    height: 65vh;
    width: 65vw;
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.247);
    display: grid;
    grid-template-areas: "head img"
                         "links  links"
                         "nav  foot";
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.63), rgba(255, 255, 255, 0.603)), url(../../assets/4853433.jpg);
    background-size:120%;
    
  
.titleContainer{
    grid-area: head;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    margin: 0px auto 0px;
    



    .title{
    color: #ffbf35;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.671);
    text-align: left;
    margin-left:50px;
    cursor:default;
}

q {
    font-size:12px;
    color:rgb(139, 139, 139);
    font-weight:bold;
    text-align: left;
    margin-left:50px;
    cursor:default;

}

.fullstack{
   
    color: black;
    // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.918);
    text-align: left;
    margin-left:30px;
    margin-bottom:-30px;
    cursor:default;

    &Line{
        position: relative;
        bottom:15px;
        left: 15px;
        width: 3px;
        height: 30px;
        background-color: #ffbf35;
        z-index:99999
    }
}

}

.imageContainer{
    display: flex;
    align-self: flex-end;
    margin-top:50px;

    
    .atributesContainer{
        position: relative; 
        left: 78px;
        bottom: 135px;
        width: 0px;
        height: 0px;
        pointer-events: none;
        
        .atributesHidden{
            width: 250px;
            height: 300px;
            background-color: transparent;
            clip-path: polygon(1% 90%, 2% 88%, 3% 86%, 5% 82%, 6% 81%, 7% 80%, 8% 79%, 9% 78%, 10% 77%, 11% 76%, 12% 75%, 13% 74.5%, 14% 74%,16% 73%,18% 72%,20% 71.5%, 22% 71%, 25% 71%, 28% 71%, 32% 71.5%, 36% 72%, 39% 73%, 43% 73.5%, 46% 74%, 49% 75%, 53% 76%, 56% 77%, 58% 78%, 62% 79%, 66% 81%, 71% 83.3%, 74% 85%, 80% 88.6%, 83% 91%, 85% 95%, 88% 99%, 89% 100%, 89% 0%, 1% 2%);
           
        }
    }

}


.image{
    grid-area: img;
    height: 350px;
    margin-top:50px;
    pointer-events: none;
}
 
.links{
    grid-area: links;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    z-index: 1;
   
       &Icons{
           display: flex;
           justify-content: space-around;
           width: 25%;
       }
       
       .download{
           padding: 8px 16px;
           border-radius: 15px;
           font-size:14px;
           font-weight: bold;
           border:2px solid #ffbf35;
           background-color: transparent;
           color:#ffbf35;
           cursor: pointer;
           transition:0.3s ease-in-out;
           text-decoration: none;
           z-index: 2221;
   
           &:hover{
               color: #4D5061;
               background-color:#ffbf35
           }
       }
   
       .gitlab{
           transform:scale(2);
           color:#ffbf35 ;
           position: relative;
           transition:0.3s ease-in-out;
           filter:drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.123));
   
           &:hover{
              transform: scale(2.5) translate(0,-3px);
              filter:drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.212))
           }
       }
   }



}


.up{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 270px;
    padding: 20px 30px;
    line-height: 0.8em;
    // padding-top:25px;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
    border:2px solid #6f697e;
    background-color: white;
    cursor: pointer;
    transition:0.3s ease-in-out;
    color: #6f697e;

    &:hover{
        color: #ffbf35;
        background-color: #6f697e;
    }
   

    &:before{
        content:'⬆';
        margin-right: 30px;
        transition:0s ease-in-out;
      }
      &:after{
        content:'⬆';
        margin-left: 30px;
        transition:0s ease-in-out;
      }
    
}

.down{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    min-width: 270px;
    line-height: 0.8em;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
    border:2px solid #6f697e;
    background-color: white;
    cursor: pointer;
    transition:0.3s ease-in-out;
    color: #6f697e;


    &:hover{
        color: #ffbf35;
        background-color: #6f697e;
    }

    &:before{
        content:'⬇';
        margin-right: 45px;
        transition:0s ease-in-out;
      }
      &:after{
        content:'⬇';
        margin-left: 45px;
        transition:0s ease-in-out;
      }
    
}

.left{
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    min-height: 320px;
    border-radius: 10px;
    line-height: 0.8em;
    font-size:20px;
    font-weight: bold;
    border:2px solid #6f697e;
    background-color: white;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition:0.3s ease-in-out;
    color: #6f697e;


    &:hover{
        color: #ffbf35;
        background-color: #6f697e;
    }

    &:before{
        content:'⬅';
        margin-bottom: 40px;
        transition:0s ease-in-out;
      }
      &:after{
        content:'⬅';
        margin-top: 40px;
        transition:0s ease-in-out;
      }
    

}

.right{
    position: fixed;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    min-height: 320px;
    line-height: 0.8em;
    border-radius: 10px;
    font-size:20px;
    font-weight: bold;
    border:2px solid #6f697e;
    background-color: white;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition:0.3s ease-in-out;
    color: #6f697e;


    &:hover{
        color: #ffbf35;
        background-color: #6f697e;
    }

    &:before{
        content:'➡';
        margin-bottom: 45px;
        transition:0s ease-in-out;
      }
      &:after{
        content:'➡';
        margin-top: 45px;
        transition:0s ease-in-out;
      }
}


