
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.background{
  // border: 4px solid #ffbf3588;
  border-radius: 10px;
  height: 75vh;
  width: 75vw;
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.247);
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  background: linear-gradient(rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.534)), url(../../assets/4853433.jpg);

  
  h1{
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index:3;
  }

}

.emailSvg{
  position: absolute;
  top: 7%;
  right: 15%;
  transform: translate(50%, -50%);
  height: 100px;
}


.container::before {
    content: "";
    position: fixed;
    
    right: 35%;
    top:10%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(0.6);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(150deg);
    opacity: 0.2;
  }

.container::after {
    content: "";
    position: fixed;
    
    left: 20%;
    bottom:10%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(.8) scaleX(1.5);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(300deg);
    opacity: 0.3;
  }

.center{
  padding: 0 3rem 0 3rem;
  display: grid;
  grid-template-columns: 30% 58%;
  height: 100%;
  width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
justify-content: center;

  .contact{

    &__option{
      background: #6f697e;
      padding: 30px ;
      max-width: 230px;
      border-radius: 1.2rem;
      text-align: center;
      border: 1px solid transparent;
      transition: 0.3s ease-in-out;
      line-height: 1.3rem;
      color: white;

      &:hover{
        background: transparent;
        border-color: #6f697e;
        transform: translate(30px) scale(1.1);
        box-shadow: -20px 0px 30px 0px rgba(0, 0, 0, 0.253);
        color: black;
      }

      &:hover .contact__icon{
        color:black;
      }

      &:hover a{
        color:#e6a61e    
      }

      a{
        display: inline-block;
        margin-top: 0.7rem;
        font-size: .8rem;
        text-decoration: none;
        color: #ffbf35;
        transition:0.3s ease-in-out;
        
      }
    }

    &__icon{
      // color:black;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      transition:0.3s ease-in-out;
      
    }

   
  }
}


.right{
   margin-top: 40px;
   display: flex;
   justify-content: center;
   flex-direction: row;
   position: relative;
   left: 10%;
   flex: 1;

   h1{
     color: black;
   }

   form, .thanks{
     display: flex;
     flex-direction: column;
     gap: 2rem;
     align-items: center;
     margin-top: 150px;
     color:white;

     span{
       color:#ffbf35;
     }

     strong{
       text-decoration: underline;
       text-decoration-color: #ffbf35;
     }
   }

   .user{
    width: 20rem;
    height: 2.5rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid #ffbf35;
    border-radius: 8px;
    font-size: 16px;
    background-color: transparent;
    color:white;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgb(126, 126, 126);
      opacity: 1; /* Firefox */
    }
  }

   textarea {
     height: 6rem !important;
   }

   .blur{
     top: 1rem;
     left:8rem;
   }

   .button{
    padding: 8px 16px;
    border-radius: 15px;
    font-size:14px;
    font-weight: bold;
    border:2px solid #ffbf35;
    background-color: #ffbf35;
    color: white;
    cursor: pointer;
    transition:0.3s ease-in-out;
    text-decoration: none;
    z-index: 2221;

    &:hover{
        color: #ffbf35;
        background-color: transparent;

    }
   }
}



.down{
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  min-width: 270px;
  line-height: 0.8em;
  // padding-top:25px;
  border-radius: 10px;
  font-size:20px;
  font-weight: bold;
  border:2px solid #6f697e;
  background-color: transparent;
  cursor: pointer;
  transition:0.3s ease-in-out;
  color: #6f697e;


  &:hover{
      color: #ffbf35;
      background-color: #6f697e;
      
  }
 
  &:before{
    content:'⬇';
    margin-right: 60px;
    transition:0s ease-in-out;
  }
  &:after{
    content:'⬇';
    margin-left: 60px;
    transition:0s ease-in-out;
  }
}