.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container::before {
    content: "";
    position: fixed;
    
    right: 20%;
    top:25%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(1) scaleY(1);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(340deg);
    opacity: 0.2;
  }

.container::after {
    content: "";
    position: fixed;
    
    left: 15%;
    bottom:20%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(0.6);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(220deg);
    opacity: 0.2;
  }


.background{
    // border: 4px solid #E3B23C88;
    border-radius: 10px;
    height: 75vh;
    width: 75vw;
    box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: center;
    margin-right: 60px;
    background: linear-gradient(rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.534)), url(../../assets/4853433.jpg);
    background-position: left;
}
.center{
   position: relative;
   bottom: 0px;

   h1{
       font-size:50px;
       font-weight: 700;
        cursor: default;
        margin-top: 20px;
        color: black;

       strong{
           display: block;
           color:#ffbf35;
       }
   }
   .containerBasics {

    position: relative;
    top: 50px;
    right: 20vw;
  

    .basicsHtml{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 130px;

  
    }
    .basicsCss{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        
    }
    
    .basicsJs{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        outline: 4px solid white;
        outline-offset: -4px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 130px;
    }
   }
//    .backBasics{
//       transform: rotate(95deg) scale(0.6);
//        position: absolute;
//        left: 0px;
//        top:-120px;
//        filter:drop-shadow(0 0 40px rgba(0, 0, 0, 0.308)) blur(1px) hue-rotate(40deg) ;
//    }

   .backSvg{
     position: absolute;
     left: 0px;
     top:378px;
     height: 150px;
 }
}

.containerDev {

    position: absolute;
    top: 80px;
    left: 30vw;
    height: 500px;


    .devReact{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 0px;
        right: 0px;
        border: 8px solid #ffbf35;
        filter: brightness(0.7);
    }

    .devAngular{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -20px;
        left: 110px;
        border: 8px solid white;

    }
    .devNode{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 10px;
        left: 170px;
        border: 8px solid white;

    }
    .devMongo{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 40px;
        left: 110px;
        border: 8px solid white;

    }
    .devPhp{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 20px;
        right: 0px;
        border: 8px solid white;

    }
    .devLaravel{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -127px;
        right: 110px;
        border: 8px solid white;

    }
    .devBootstrap{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -325px;
        right: 170px;
        border: 8px solid white;

    }
    .devFramermotion{
        cursor: pointer;
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -525px;
        right: 110px;
        border: 8px solid white;

    }

 

}
.centerDev{
        position: absolute;
        top: 210px;
        left:26.5vw;

        &Title{
            position: relative;
            bottom: 110px;
            letter-spacing: 0px;
            font-size: 30px;
            font-weight: 700;
            color: white;
            text-shadow: 0px 2px 3px black;
            filter:drop-shadow(0 0 20px black);
        }

        img{
            height: 180px;
            width: 180px;
            background-color: white;
            border-radius: 50%;
            border: 10px solid #ffbf35;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
            object-fit:contain;
            filter: blur(4px) opacity(1) ;
            
        }

        }
       


        .containerBasicsNames {

            position: absolute;
            top: calc(12vh + 160px);
            left: calc(30vw - 150px);
          
        
            .basicsHtmlName{
                position: relative;
                top: 133px;
                right: -14px;
               
                
                path {
                    fill: transparent;
                  }

                text{
                    fill: black;
                    font-size:80px;
                    font-weight:bold;
                    text-align: center;
                    transform: rotate(23deg);
                }
            }
            .basicsCssName{
                position: relative;
                bottom: 92px;
                left: 103px;

                path {
                    fill: transparent;
                  }

                text{
                    fill: black;
                    font-size:100px;
                    font-weight:bold;
                    text-align: center;
                    transform: rotate(27deg) scale(0.15);
                }
            }
            
            .basicsJsName{
                position: relative;
                bottom: 122px;
                left: 143px;

                path {
                    fill: transparent;
                  }

                text{
                    fill: black;
                    font-size:70px;
                    font-weight:bold;
                    text-align: center;
                    transform: rotate(-2deg);
                }
            }
           }
           
           .right{
            display: inline-block;
            position: fixed;
            top: 50%;
            right: 0%;
            transform: translate(-50%, -50%);
            padding: 20px 25px;
            min-height: 320px;
            line-height: 0.8em;
            border-radius: 10px;
            font-size:20px;
            font-weight: bold;
            border: 2px solid #6f697e;
            background-color: white;
            cursor: pointer;
            writing-mode: vertical-rl;
            text-orientation: upright;
            transition:0.3s ease-in-out;
            
        
            &:hover{
                color: #FFBF35;
                background-color: #6f697e;
            }
            &:before{
                content:'➡';
                margin-bottom: 60px;
                transition:0s ease-in-out;
              }
              &:after{
                content:'➡';
                margin-top: 60px;
                transition:0s ease-in-out;
              }
        }

        