.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container::before {
    content: "";
    position: fixed;
    
    right: 40%;
    top:10%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(1) scaleY(0.8);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(340deg);
    opacity: 0.2;
  }

.container::after {
    content: "";
    position: fixed;
    
    left: 20%;
    bottom:10%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(0.5);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(240deg);
    opacity: 0.2;
  }

.center{
   position: relative;
   bottom: 230px;


   h1{
       font-size:50px;
       font-weight: 700;

       strong{
           color:rgb(255, 191, 53)
       }
   }
   .containerBasics {

    position: relative;
    top: 50px;
    right: 350px;
  

    .basicsHtml{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 130px;
    }
    .basicsCss{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        
    }
    
    .basicsJs{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        outline: 4px solid white;
        outline-offset: -4px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 130px;
    }
   }
   .backBasics{
      transform: rotate(95deg) scale(0.8);
       position: absolute;
       left: 0px;
       top:-120px;
       filter:drop-shadow(0 0 40px rgba(0, 0, 0, 0.308)) blur(2px) hue-rotate(100deg) ;
   }


}

.containerDev {

    position: absolute;
    top: 100px;
    left: 350px;


    .devReact{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 0px;
        right: 0px;
        border: 4px solid white;
    }

    .devAngular{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -20px;
        left: 110px;
        border: 4px solid white;

    }
    .devNode{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 10px;
        left: 170px;
        border: 4px solid white;

    }
    .devMongo{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 40px;
        left: 110px;
        border: 4px solid white;

    }
    .devPhp{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: 20px;
        right: 0px;
        border: 4px solid white;

    }
    .devLaravel{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -127px;
        right: 110px;
        border: 4px solid white;

    }
    .devBootstrap{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -325px;
        right: 170px;
        border: 4px solid white;

    }
    .devFramermotion{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
        position: relative;
        top: -525px;
        right: 110px;
        border: 4px solid white;

    }

}

.main {
    position: absolute;
    right: 50px 
}