.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container::before {
    content: "";
    position: fixed;
    
    right: 40%;
    top:20%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(1);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(340deg);
    opacity: 0.2;
  }

.container::after {
    content: "";
    position: fixed;
    
    left: 20%;
    bottom:10%;
    z-index: -1;
  
    display: block;
    background-image: url('https://library.kissclipart.com/20180914/wgw/kissclipart-circles-design-vector-clipart-clip-art-1362023b0ce932d3.jpg');
    background-size:cover;
    transform: scale(0.5);
    width: 100%;
    height: 100vh;
  
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px) hue-rotate(240deg);
    opacity: 0.2;
  }

.center{
   position: relative;
   bottom: 190px;
   right: 180px;

   h1{
       font-size:40px;
       font-weight: 700;
   }
   .containerBasics {

    margin:30px;

    .basicsHtml{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
        position: relative;
        top: 130px;
    }
    .basicsCss{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
        
    }
    
    .basicsJs{
        height:80px;
        width:80px;
        object-fit:contain;
        background-color: white;
        border-radius: 50%;
        padding: 0px;
        outline: 4px solid white;
        outline-offset: -4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
        position: relative;
        top: 130px;
    }
   }
}