@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$layout_bp_mobile: 670px;
$layout_bp_tablet: 800px;
$layout_bp_desktop: 1280px;

// SCSS Mixins
@mixin mobile {
  @media only screen and (max-width: #{$layout_bp_mobile}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: #{$layout_bp_tablet}) {
    @content;
  }
}